body  {
  background-color: #CCD4E2;
}

i {
  color: #555 !important;
}

.grey-body {
  background-color: #EDEDED !important;
}

.white-body {
  background-color: #FFFFFF !important;
}

.input-section {
  padding: 20px;
  min-height: 400px;
  background-color: #fff;
}

.table-header {
  .tool {
    font-size: 15px;
    border: 1px solid #EFEFEF;
    margin: 2px;
    i {
      font-size: 30px !important;
    }
    .dropdown {
    }
  }
}

.lookup-body {
  .newLookUp {
    .container {
      input {
        width: 35px;
      }
    }
  }
}

.table-patterns {
  .table-rows {
    &:hover {
      background-color: #eee;
    }
  }
  .table-cell {
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #CCD4E2;
    border-right: 1px solid #CCD4E2;
    position: relative;

    .mdi {
      font-size: 18px !important;
      opacity: 0;
      position: absolute;
      transition: opacity .3s;
      left: -17px;
    }

    &:hover {
      background-color: #eee; 
      .mdi {
        opacity: 10;
        transition: opacity .3s;
      }
    }
  }
}

.result-tables {
  .table-lines {
    position: relative !important;
    .mdi {
      font-size: 18px !important;
      opacity: 0;
      position: absolute;
      transition: opacity .3s;
      left: 75%;
      top: -3%;
    }
    &:hover {
      background-color: #eee;
      .mdi {
        opacity: 10;
        transition: opacity .3s;
      }
    }
  }
}
.answer-patterns {
  list-style: none;
}

.date-time {
  font-size: 10px;
  font-style: italic;
}

.output-section {
  text-align: center;
}

.pattern-list {
  font-size: 20px;
  margin-bottom: 5px;
  padding:7px;
  background-color: #efefef;
 .item-tool {
    opacity: 0;
    i {
      padding: 5px;
      border-radius: 50%;
      margin-left: 3px;
      border: 1px solid #ccc;
      &:hover {
        border: 1px solid #002810;
      }
    }
  }
  &:hover {
    .item-tool {
      opacity: .8;
    }
  }
  input {
    text-transform: uppercase;
  }
}
.answers-table-heading {
  font-size: 40px;
  background-color: #ededed;
  color: #202020;
}

.headers {
  font-size: 30px;
  color: #202020;
  font-family: Helvetica;
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding: 5px;
}

.tables-creator {
  .tab {
    &.tab-active {
      border:1px solid green;
    }
    &:hover {
      color: #555;
    }
  }
}
.pattern-body {
  padding: 10px;
}
.answers-btn {
  border-radius: 3px;
  text-align: center;
  border: 1px solid #ccc;
  color: #ccc;
}

.large-icon {
  font-size: 40px;
}

.table-body {
  padding: 40px;
  .top-bar {
    margin: 20px;
    height: 60px;
  }
  .bottom-bar {
    padding: 20px;
    div {
      // height: 400px;
    }
  }
}
