<!DOCTYPE html>
<html ng-app="answers" ng-controller="HomeController">
<!-- <html> -->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <title></title>
  </head>
  <body class="container column">
    <div>

      <section class="row input-section" ng-init="initializeFileHandler()">

        <div class="col-md-6">
          <button class="btn btn-primary" ng-click="addAnswerPattern()">Add Answer Pattern</button>
          <button class="btn btn-primary" ng-click="removeAnswerPattern()">Remove Answer Pattern</button>
          <input type="file" name="name" accept=".csv" id="getCsvFile">
        </div>

        <div class="col-md-6">
          <ul class="answer-patterns col-md-12">
            <li class="row" ng-repeat="pattern in patterns">
              <div class="form-group col-md-8">
                <div class="input-group">
                  <div class="input-group-addon">{{pattern.patternIndex}}</div>
                  <input type="text" class="form-control" ng-model="pattern.pattern" placeholder="X,X,X,X... answer pattern">
                  <div class="input-group-addon"> > </div>
                </div>
              </div>
              <!-- <button class="btn btn-primary calculateAnswerTable" onclick="answers.computeTable()"> Calculate Answer </button> -->
              <button ng-disabled="!pattern.pattern" class="calculateAnswerTable col-md-4 btn btn-primary" ng-click="computeTable(pattern)"> Calculate Answer </button>
            </li>
          </ul>
        </div>

      </section>

      <section class="output-section">
        <span class="col-md-12 answers-table-heading">Answers Table</span>
        <div class="row">
          <div class="original-table col-md-4">

          </div>
          <div class="answers-table col-md-8">
            <table>
              <th></th>
              <tr ng-repeat="result in allResults">
              <span>{{result}}</span>
                
              </tr>
            </table>

          </div>
        </div>

      </section>

    </div>
  </body>
  <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="lib/angular/angular.js"></script>
  <script type="text/javascript" src="lib/lodash/lodash.js"></script>
  <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="answers.js"></script>
</html>
