body  {
  background-color: #ededed;
}
.input-section {
  padding: 20px;
  min-height: 400px;
  background-color: #fff;
}

.answer-patterns {
  list-style: none;
}

.output-section {
  text-align: center;
}

.answers-table-heading {
  font-size: 40px;
  background-color: #ededed;
  color: #202020;
}
