doctype html
html(lang="en" ng-app="Answers")
  head
    title Answers
    include shared/links
    include shared/scripts
  body()
    #wrapper(layout-fill layout="column")
      #header
        md-toolbar.toolbar-tools(layout="row")
          span(flex="95")
          md-button(flex="5" aria-label="More")
            a(href="/logout")
              i.mdi.mdi-dots-vertical.large-icon(layout-align="end")
      #content
        md-content(layout-fill ui-view)
      #footer
