.headers(layout="column")
  .table-header(flex layout="rows" layout-align="space-between")
    md-button.import.tool(flex aria-label="new look up"  data-ng-click="createNewTable()") CREATE TABLE
    md-button.tool(aria-label="import data" flex ng-click="importLookUpTable()")
      input#getCsvFile(type="file"  accept=".csv")
      i.mdi.mdi-import(ng-init="initializeFileHandler()")
    md-button.tool(aria-label="export table" flex ng-click="exportTable()") EXPORT TABLE
    md-button.tool(aria-label="export table" flex ng-click="saveSession()") SAVE SESSION

    
  .table-patterns(layout="row")
    .empty-table(ng-if="!selectedLookUp.table") Select a look up table
    table.ans-table(ng-if="selectedLookUp.table")
      thead() 
        tr()
          th() S/N 
          th() A    
          th() B
          th() C        
          th() D   
      |     
      tbody()
        tr(ng-repeat="rows in selectedLookUp.table" ng-click="editThisLookUpTableRow(rows, $index)")
          td() {{$index +1}}
          td(ng-repeat="cell in rows") {{cell}} 
    .result-tables(ng-repeat="table in resultsTable")
      .table-lines
        table.ans-table
          i.mdi.mdi-close-circle(ng-click="removeFromResultsTable($index)")
          thead()
            tr()
              th() {{table.name}}    
          |     
          tbody()
            tr(ng-repeat="cell in table.data")
              td() {{cell}} 

    md-table-pagination(md-limit='query.limit', md-limit-options='[5, 10, 15]', md-page='query.page', md-total='{{desserts.count}}', md-on-paginate='getDesserts', md-page-select='')
