div 
  .pattern-list(ng-repeat="pattern in allPatterns" layout="row" layout-align="space-between")
    .item-detail
      span {{pattern.name}} ({{pattern.pattern}})
      p.date-time created {{pattern.created | date:'yyyy-MM-dd HH:mm:ss Z' }}
    .item-tool(layout="column" layout-align="space-between")
      i.mdi.mdi-math-compass(ng-click="calculatePattern(pattern)")
      i.mdi.mdi-delete(ng-click="deletePattern(pattern)")
      i.mdi.mdi-pencil(ng-click="editPattern(pattern)")
     
