div 
  .pattern-list(ng-repeat="item in allPatterns" layout="row" layout-align="space-between")
    .item-detail
      span {{item.name}}
      span {{item.created}}
    .item-tool
      i.mdi.mdi-dots-vertical()
