md-dialog(aria-label="Edit Project" flex="35" flex-lg="35" flex-sm="100" flex-md="70")
  md-toolbar
    .md-toolbar-tools.md-template-header
      h2 CREATE LOOK UP TABLE
  md-dialog-content
    .table-name(layout="column")
      md-input-container
        label Name:
        input(ng-model="newTable.name" placeholder="enter a name for this table")
    .table-content()
      table.new-table(ng-if="newTable.table")
        thead(flex) 
          tr(flex)
            th(flex) S/N 
            th(flex) A    
            th(flex) B
            th(flex) C        
            th(flex) D  
            th(flex) 
        |     
        tbody()
          tr(ng-repeat="row in newTable.table")
            td() {{$index +1}}
            td(ng-repeat="cell in row") {{cell}}
            td() 
              i.mdi.mdi-table-edit(ng-click="editTableRow(row)")
                
          tr()
            td() {{newTable.table.length +1}}
            td()
              input(ng-model="table.A" type='number' max='2' min='0')
            td()
              input(ng-model="table.B" type='number' max='2' min='0')
            td()
              input(ng-model="table.C" type='number' max='2' min='0')
            td()
              input(ng-model="table.D" type='number' max='2' min='0')
            td()
              i.mdi.mdi-check(ng-disabled="isRowComplete(table)" ng-click="saveTableRow(table)")
            
  .md-actions(layout="row")
    md-button(ng-click="cancel()") Cancel
    md-button.md-primary.md-raised(ng-disabled="!newTable.name" ng-click="saveNewTable(newTable)") Save
