div()
  .table-body(layout="column")
    .top-bar(flex layout="row"  layout-sm="column")
      div(layout="row" flex)
        .top-section.select-lookup(flex)
          md-select(ng-model="selectedLookUp"  placeholder="Select a look up")
            md-option(ng-value="opt" ng-repeat="opt in allLookUpTables") {{opt.name}}
        .top-section(flex layout="row" layout-align="space-around")
          md-button.md-raised.md-primary(ng-disabled="!selectedLookUp" ng-click="calculateAllPatterns()") Calculate
          md-button.md-raised.md-warn(ng-disabled="!selectedLookUp.key" ng-click="deleteLookUp(selectedLookUp)") Delete
      div(layout="row" flex)
        .top-section.select-lookup(flex layout-align="space-around")
          md-select(ng-model="selectedSession"  placeholder="Select a Session")
            md-option(ng-value="opt" ng-repeat="opt in allSessions") {{opt.name}}
        .top-section(flex  layout="row" layout-align="space-around")
          md-button.md-raised.md-primary(ng-disabled="!selectedSession" ng-click="loadSession(selectedSession)") Load
          md-button.md-raised.md-warn(ng-disabled="!selectedSession" ng-click="deleteSession(selectedSession)") Delete
          
    .bottom-bar(flex layout="row" layout-padding)
      div.white-body.no-padding(flex="25" layout="column")
        md-tabs(md-selected='selectedIndex')
          md-tab(md-on-select='onTabSelected(tab)', md-on-deselect='announceDeselected(tab)')
            md-tab-label Patterns   
            md-tab-body
              .pattern-body()
                .create-new(ng-if="!addPattern" ng-click="openNewPatternTray()") 
                  i.mdi.mdi-plus
                  | pattern
                .new-pattern(ng-if="addPattern" flex layout-gt-sm="column")
                  md-input-container()
                    label Name
                    input(ng-model="newPattern.name")
                  md-input-container()
                    label Pattern
                    input(ng-model="newPattern.pattern" ng-change="delimitPattern(newPattern.pattern)")
                  .tools(layout="row" layout-align="center")
                    md-button.md-primary(ng-disabled="!newPattern.pattern || !newPattern.name" ng-click="createPattern(newPattern)")
                      i.mdi.mdi-check
                    md-button.md-primary(aria-label="" ng-click="openNewPatternTray()")
                      i.mdi.mdi-close
                    
                .oldPatterns
                  .pattern-list(ng-repeat="item in allPatterns" layout="row" layout-align="space-between")
                    .item-detail(flex)
                      span {{item.name}} ({{item.pattern}})
                    .item-tool(layout="row" layout-align="space-between")
                      i.mdi.mdi-send(ng-click="calculateOnePattern(item)")
                      i.mdi.mdi-pencil(ng-click="showEditPatternModal(item)")
                      i.mdi.mdi-delete(ng-click="deletePattern(item)")
          
          md-tab(md-on-select='onTabSelected(tab)', md-on-deselect='announceDeselected(tab)' )
            md-tab-label Sessions   
            md-tab-body
              .session-body()
                .session-card(ng-value="opt" ng-repeat="opt in allSessions") {{opt.name}}
          
            

      span(flex="5")
      div.white-body(flex="70")
        include ../shared/answers_table
